extends ../layouts/common.pug
block content
  h3 Add book
  form(action="/books/add", method="POST")
    .form-group
      label Title 
      input.form-control(type="text", name="title")
    .form-group
      label Description 
      input.form-control(type="text", name="desc")
    button.btn.btn-primary Add this book
  if errors
    each error in errors
      .alert.alert-danger= error
  a(href="/books/") Back