extends ../layouts/common.pug
block content
  h3 Books list:
  table(class="table")
    thead
      tr.d-flex
        th.col(scope="col") Cover
        th.col(scope="col") Title
        th.col-6(scope="col") Description
        th.col(scope="col") Action
    tbody
      each book in booksList
        tr.d-flex
          td.col
            img(src=book ? book.coverUrl : "")        
          td.col=book ? book.title : "Invalid book"
          td.col-6=book ? book.desc : "No description"
          td.col
            .group-btn
              a.btn.btn-primary.mr-2(href='/cart/add/' + book._id) Add to cart
              a.btn.btn-primary.mr-2(href='/books/update-title/' + book._id) Update title
              a.btn.btn-primary.mr-2(href='/books/delete/' + book._id) Delete this book
  a.btn.btn-secondary(href="/books/add") Add more book